# Global Infrastructure Environment Variables
POSTGRES_USER=peercode_user
POSTGRES_PASSWORD=peercode_secret
POSTGRES_DB=peercode_db
POSTGRES_PORT=5432
REDIS_PORT=6379

# Service URLs
PORT_BACKEND=4000
PORT_AI_SERVICE=8000
PORT_FRONTEND=5173
